<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--css-->
    <link rel="stylesheet" href="/advert.css">
    <title>Thrift Web</title>
</head>
<body> 
<h1>Your ad:</h1>
<h2><%= data.email %><br>
<%= data.condition %><br>
<%= data.price %><br>
<%= data.description %></h2>

</body>
<footer>

</footer>