<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="/style.css">
    <!--jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Thrift Web</title>
</head>

<body>
    <h2>Tell us what you're getting rid of!</h2>

    <form name="form" method="POST" action="/advert">
        <label for="exampleFormControlInput1">Email address</label>
        <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <label for="exampleFormControlSelect1">Condition</label>
        <select name="condition" class="form-control" id="conditionSelector">
            <option>New</option>
            <option>Used</option>
        </select>
        <label for="inputZip">Price</label>
        <input name="price" type="text" class="form-control" id="price" placeholder="$">
        <label for="exampleFormControlTextarea1">Product Description</label>
        <textarea  name="description"class="form-control" id="description" rows="3"></textarea>
        <!-- <button event="Submit">Submit!</button> -->
        <input type="submit" />
    </form>

</body>

</html>